maintenance/chat-cleanup/cleanup-workflow.json
{
  "name": "Chat Memory Cleanup - Weekly",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 4 * * 0"
            }
          ]
        }
      },
      "id": "schedule-trigger",
      "name": "Weekly Schedule",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [260, 300],
      "notes": "Runs every Sunday at 4:00 AM"
    },
    {
      "parameters": {
        "command": "cd /opt/leveredge/maintenance/chat-cleanup && python3 cleanup.py --json-output"
      },
      "id": "execute-cleanup",
      "name": "Execute Cleanup Script",
      "type": "n8n-nodes-base.executeCommand",
      "typeVersion": 1,
      "position": [480, 300]
    },
    {
      "parameters": {
        "jsCode": "const stdout = $input.first().json.stdout;\nlet stats;\n\ntry {\n  stats = JSON.parse(stdout);\n} catch (e) {\n  stats = {\n    started_at: new Date().toISOString(),\n    completed_at: new Date().toISOString(),\n    records_found: 0,\n    records_archived: 0,\n    records_deleted: 0,\n    sessions_affected: 0,\n    errors: [`Failed to parse output: ${e.message}`],\n    dry_run: false\n  };\n}\n\nconst hasErrors = stats.errors && stats.errors.length > 0;\nconst status = hasErrors ? 'FAILED' : 'SUCCESS';\n\nconst message = `**Chat Memory Cleanup Report**\n\nStatus: ${status}\nStarted: ${stats.started_at}\nCompleted: ${stats.completed_at}\n\n**Statistics:**\n- Records found: ${stats.records_found}\n- Records archived: ${stats.records_archived}\n- Records deleted: ${stats.records_deleted}\n- Sessions affected: ${stats.sessions_affected}\n\n${hasErrors ? `**Errors:**\\n${stats.errors.map(e => `- ${e}`).join('\\n')}` : ''}`;\n\nreturn {\n  json: {\n    status,\n    stats,\n    message,\n    hasErrors\n  }\n};"
      },
      "id": "parse-results",
      "name": "Parse Cleanup Results",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [700, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ $env.HERMES_WEBHOOK_URL || 'http://localhost:5678/webhook/hermes-notify' }}",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"maintenance\",\n  \"title\": \"Chat Memory Cleanup - {{ $json.status }}\",\n  \"message\": {{ JSON.stringify($json.message) }},\n  \"priority\": \"{{ $json.hasErrors ? 'high' : 'low' }}\",\n  \"source\": \"chat-cleanup\"\n}",
        "options": {}
      },
      "id": "notify-hermes",
      "name": "Report via HERMES",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [920, 300]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "error-check",
              "operator": {
                "type": "boolean",
                "operation": "true"
              },
              "leftValue": "={{ $json.hasErrors }}",
              "rightValue": ""
            }
          ]
        }
      },
      "id": "check-errors",
      "name": "Check for Errors",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [1140, 300]
    },
    {
      "parameters": {
        "errorMessage": "=Chat cleanup failed: {{ $json.stats.errors.join(', ') }}"
      },
      "id": "throw-error",
      "name": "Throw Error",
      "type": "n8n-nodes-base.stopAndError",
      "typeVersion": 1,
      "position": [1360, 200],
      "notes": "Marks execution as failed for monitoring"
    },
    {
      "parameters": {},
      "id": "success-end",
      "name": "Success",
      "type": "n8n-nodes-base.noOp",
      "typeVersion": 1,
      "position": [1360, 400]
    }
  ],
  "connections": {
    "Weekly Schedule": {
      "main": [
        [
          {
            "node": "Execute Cleanup Script",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Cleanup Script": {
      "main": [
        [
          {
            "node": "Parse Cleanup Results",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Cleanup Results": {
      "main": [
        [
          {
            "node": "Report via HERMES",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Report via HERMES": {
      "main": [
        [
          {
            "node": "Check for Errors",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check for Errors": {
      "main": [
        [
          {
            "node": "Throw Error",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Success",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  },
  "staticData": null,
  "tags": [
    {
      "name": "maintenance"
    },
    {
      "name": "cleanup"
    }
  ],
  "triggerCount": 1,
  "active": false
}
