workflows/aegis/aegis-daily-report.json
{
  "name": "AEGIS-Daily-Report",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [{ "field": "cronExpression", "expression": "0 8 * * *" }]
        }
      },
      "name": "Daily 8AM",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.2,
      "position": [200, 300]
    },
    {
      "parameters": {
        "method": "GET",
        "url": "http://localhost:8012/health/dashboard",
        "options": {}
      },
      "name": "Get Dashboard",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [400, 300]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://localhost:8014/notify",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"channel\": \"telegram\",\n  \"message\": \"📊 AEGIS Daily Report\\n\\n🔐 Total Credentials: {{ $json.total_credentials }}\\n✅ Healthy: {{ $json.healthy }}\\n⚠️ Expiring Soon: {{ $json.expiring_soon }}\\n❌ Unhealthy: {{ $json.unhealthy }}\\n\\n🔄 Rotations Due: {{ $json.rotations_due || 0 }}\\n\\nStatus: {{ $json.overall_status }}\",\n  \"priority\": \"normal\"\n}"
      },
      "name": "Send Report",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [600, 300]
    }
  ],
  "connections": {
    "Daily 8AM": { "main": [[{ "node": "Get Dashboard", "type": "main", "index": 0 }]] },
    "Get Dashboard": { "main": [[{ "node": "Send Report", "type": "main", "index": 0 }]] }
  },
  "settings": { "executionOrder": "v1" },
  "staticData": null,
  "tags": [{ "name": "aegis" }, { "name": "reporting" }]
}
